.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 28px 24px;
}

.product-card {
    display:flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    padding: 0px;
    margin-top: 50px;
    border: 1px solid black;
    text-align: left;
}

.product-card img {
    width: 100%;
    height: 250px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 20px;
}

.card p {
    font-size: 0.85rem;
    margin: 0px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-view {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.btn-view a {
    border: 1px solid black;
    padding: 4px 18px;
    font-size: 0.78rem;
    text-decoration: none;
    color: #111;
}

.btn-view a:hover {
    background: rgb(234, 248, 255);
    color: black;
}