.product-detail {
    display: flex;
    width: 1000px;
    border: 1px solid black;
    margin: 30px 0px 60px;
    gap: 96px;
    margin-left: auto;
    margin-right: auto;
}

.product-detail-img {
    width: 500px;
}

.product-detail-img img {
    width: 100%;
    padding: 10px;
}

.product-datail-second {
    margin-top: 60px;
}

.product-detail-info{
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    margin-top: 30px;
}

table {
    width: 125px;
    height: 150px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    margin: 2px;
}

th {
    border-bottom: 1px solid black;
    padding: 7px;
}

td {
    cursor: pointer;
    padding-left: 4px;
}

td:not(.fin-row):hover {
    background: rgb(234, 248, 255);
}

button {
    width: 90%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 18px;
    font-size: 0.78rem;
    text-decoration: none;
    background: white;
    color: black;
}

.btn-panier {
    width: 230px;
}

.btn-panier a:hover {
    background: rgb(234, 248, 255);
    color: black;
}

button:hover {
    background: rgb(234, 248, 255);
    cursor: pointer;
}

.taille-label input[type="radio"]:checked ~ span {
    background: rgb(215, 236, 214);
    color: white;
}

.filtres li:hover {
    background: rgb(234, 248, 255);
}