.shop-container {
    display: flex;
    padding: 28px 24px;
    gap: 20px;
}

.product {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 260px) ;
    flex: 1; 
    gap: 30px;
    padding: 28px 24px;
}

.products-card { 
    display:flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin-top: 0px;
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

.products-card img {
    width: 100%;
    height: 250px;
    margin-top: 15px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 5px;
    padding: 10px 10px;
}

.product-name {
    margin-bottom: 0px;
}

.product-price {
    margin-bottom: 0px;
    margin-top: 0px;
}

.filtres {
    width: 140px;
    height: 120px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 50px;
}

.filtres p {
    margin: 5px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.filtres ul {
    list-style: none;
    border-top: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.filtres li {
    padding: 3px 5px;
    cursor: pointer;
}

.filtres li:hover {
    background: rgb(234, 248, 255);
}

.filtres a {
    text-decoration: none;
    color: black;
}

.active-filter {
    background: rgb(234, 248, 255);
}